body {
    font-family: Tahoma, Helvetica, sans-serif;
    background-color: #1A1A1D;
    color: white;
    text-align: center;
}

h3, h1 {
    color: #C3073F;
    font-weight: lighter;
}

h4 { 
    color: #4E4E50;
    font-weight: lighter;
    margin-bottom: 0;
}

/*  images: height="480" width="320" */
ol {
    text-align:left;
    list-style-position: inside;
}

ul {
    list-style-type: none;
    display: inline;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}
/*does not work*/
.header {
    float: left;
}

.Sources {
    font-weight: lighter;
}

.cookie {
    color: #950740;
    font-size: 15pt;
}

.steps-adjusted {
    text-align: center;
}